<mat-card class="widget-card">
  <mat-card-header class="widget-header">
    <div class="drag-handle">
      <mat-icon>drag_indicator</mat-icon>
    </div>
    <mat-card-title>{{ widget().name || 'Untitled Widget' }}</mat-card-title>
    <div class="widget-actions">
      @if (widget()) {
        <mat-icon (click)="openSettings()" (keydown)="openSettings()" class="settings-icon"
          >settings</mat-icon
        >
      }
    </div>
  </mat-card-header>

  <mat-card-content class="widget-content">
    @if (widget() && selectedTable && data && !isLoading) {
      @switch (widget().type) {
        @case (WidgetType.PIE_CHART) {
          <app-pie-chart-component
            [widget]="widget()"
            [table]="selectedTable"
            [data]="data"
            [isLoading]="isLoading"
          />
        }
        @case (WidgetType.BAR_CHART) {
          <app-bar-chart-component
            [widget]="widget()"
            [table]="selectedTable"
            [data]="data"
            [isLoading]="isLoading"
          />
        }
        @default {
          <p>Unknown widget type</p>
        }
      }
    } @else {
      <p>No data available for this widget.</p>
    }
  </mat-card-content>
</mat-card>
