node_modules
dist
.angular
build
.git
.gitignore
docker-compose.override.yml
npm-debug.log
environment.*.ts
/.vscode
node_modules
dist
build
.git
.gitignore
.vscode
.idea
coverage
npm-debug.log
.env
.env.*
.DS_Store
*.log
/src/**/*.map
/.dockerignore
Dockerfile
README.md
**/test-outputca
