@if (loading) {
  <div class="loading">
    <mat-icon class="spinner" svgIcon="spinner"></mat-icon>
  </div>
} @else {
  <app-dashboard-drawer-component
    [isOpen]="isOpen"
    [widgets]="widgets"
    (addWidgetToDashboardEvent)="addWidgetToDashboard($event)"
    (toggleDrawerEvent)="toggleDrawer()"
  >
    <h1>WhereMoney Dashboard</h1>
    <p>Financial data visualization dashboard</p>
    <gridstack
      class="dashboard"
      [options]="gridOptions"
      (change)="onWidgetChange()"
      (added)="onWidgetAdded()"
      (removed)="onWidgetRemoved()"
    >
      <div empty-content>Add widgets to get started with your dashboard</div>
    </gridstack>
  </app-dashboard-drawer-component>
}
