.btn-secondary {
  background-color: var(--mat-button-filled-container-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.interactable {
  cursor: pointer;
}

mat-list-item {
  border-bottom: 1px solid #e0e0e0;
}

mat-list-item:last-child {
  border-bottom: none;
}

mat-list-item:hover {
  background-color: #f5f5f5;
}
